body {
    margin: 0;
}

h1, h2, h3 {
    font-size: 200%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #7478FF;
    /* background: #9B74FF; */
    padding: 30px 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

header h1 {
    display: inline-block;
}

header span {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 120%;
    margin:0 auto 0 20px;
}


.nav-menu {
    margin-right: 10px;
}
.nav-menu ul {
    padding: 0;
    margin: 0;
}

.nav-menu a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 110%;
    padding: 5px 7px;
    border-radius: 5px;
    margin: 0;
    background: #3C3D5C;
    /* background: #593FB2; */
    text-decoration: none;
    cursor: pointer;
}

.nav-menu a:active {
    color: white;
} 

.nav-menu a:hover {
    background: slateblue;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px 55px 5px;
    max-width: 960px;
    margin: 0 auto;
}

section h2 {
    display: inline-block;
    margin: 20px auto;
}

hr {
    background: #3C3D5C;
    border: 0;
    height: 2px;
    margin: 0 0;
}

.golden {
    color: #B2992D;
}

.card {
    min-height: 200px;
    min-width: 80%;
    max-width: 80%;
    margin: 5px auto;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 0 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 25px;
    background: #bdbfFF;
}

.card .title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.card .title h2 {
    margin: 0 15px 0 0;
}

.card .title span {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-style: italic;
    font-weight: bold;
    word-spacing: 10px;
    font-size: 120%;
}

.card.profile-card .title span {
    word-spacing: 0;
}

.card .content {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
}

.card .content .description {
    align-self: stretch;
    flex: 1 1 auto;
    text-align: left;
    margin: 0;
    margin-right: 10px;
    background: #FFFFFF;
    border-radius: 5px;
}
.card .content p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 0;
}

.card .content .tech-column {
    align-self: stretch;
    flex: 1 1 auto;
    text-align: center;
    margin: 0;
    margin-right: 10px;
    padding: 10px;
    background: #eeeeee;
    border-radius: 5px;
}

.card .content .tech-column h4 {
    font-size: 125%;
    margin: 0;
    border-bottom: 1px solid #3C3D5C;
}

.card .content .tech-column p {
    color: #B2992D;
    font-size: 125%;
    margin: 0;
    font-weight: bold;
    font-style: italic;
}

.card .content .feature-image {   
    flex: 1 1 auto;
    width: 50%;
    max-width: 650px;
    /* border: 3px solid #5555AA; */
    border: 3px solid #3C3D5C;
    border-radius: 5px; 
}

.card .content .description img {
    flex: 0;
    border: none;
    width: 240px;
    height: 100px;
}

footer {
    font-family: 'Lato', sans-serif;
    background: darkgray;
    padding: 5px;
    margin: 0;
    min-height: 100px;
    text-align: center;
    position: relative;
    bottom: 0;
}

/*
@media screen and (min-width: 1600px) {
    section {
        flex-flow: row wrap;
        justify-content: center;
    }

    section h2 {
        width: 100%;
    }
    
    .card {
        width: 40%;
        min-width: initial;
    }
}
*/

@media screen and (max-width: 740px) {
    header div {
        flex-flow: column nowrap;
    }
}

@media screen and (max-width: 720px) {

    .card .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: space-between;
        align-items: flex-start;
    }
    .card .content .description {   
        order: 1;
        margin: 10px 0 0 0;
    }
    .card .content .feature-image {   
        width: 99%;
    }
    
    .card .content .description .play-link {
        text-align: center;
    }
}

@media screen and (max-width: 590px) {
    header {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        margin: 0 0 10px 0;
    }
    
    header span {
        margin: 0 0 10px 0;
    }

    .nav-menu {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .nav-menu a {
        display: block;
        border-radius: 0;
        padding: 10px;
        margin: 0;
    }
    .nav-menu a:not(:last-child) {
        border-bottom: 1px solid #551a8b;
    }
}
